version: 2
updates:
  - package-ecosystem: "pub"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "*"
    commit-message:
      prefix: "build: "
      include: "scope"
    assignees:
      - "famedly/frontend"
    open-pull-requests-limit: 5
    versioning-strategy: increase-if-necessary
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "*"
    commit-message:
      prefix: "build: "
      include: "scope"
