name: matrix
description: Matrix Dart SDK
version: 4.0.3
homepage: https://famedly.com
repository: https://github.com/famedly/matrix-dart-sdk.git
issue_tracker: https://github.com/famedly/matrix-dart-sdk/issues

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  async: ^2.8.0
  base58check: ^2.0.0
  blurhash_dart: ^1.1.0
  canonical_json: ^1.1.0
  collection: ^1.15.0
  html: ^0.15.0
  html_unescape: ^2.0.0
  http: ">=0.13.0 <2.0.0"
  image: ^4.0.15
  markdown: ^7.1.1
  mime: ">=1.0.0 <3.0.0"
  path: ^1.9.1
  random_string: ^2.3.1
  sdp_transform: ^0.3.2
  slugify: ^2.0.0
  sqflite_common: ^2.4.5
  sqlite3: ^2.1.0
  typed_data: ^1.3.2
  vodozemac: ^0.4.0
  web: ^1.1.1
  webrtc_interface: ^1.2.0

dev_dependencies:
  build_runner: ^2.10.3
  coverage: ">=0.15.0 <2.0.0"
  file: ">=6.1.1 <8.0.0"
  import_sorter: ^4.6.0
  lints: ^6.0.0
  sqflite_common_ffi: ^2.3.4+4 # sqflite_common_ffi aggressively requires newer dart versions
  test: ^1.27.0
