name: matrix
description: Matrix Dart SDK
version: 0.22.6
homepage: https://famedly.com
repository: https://github.com/famedly/matrix-dart-sdk.git

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  async: ^2.8.0
  base58check: ^2.0.0
  blurhash_dart: ^1.1.0
  build_runner: ^2.3.3
  canonical_json: ^1.1.0
  collection: ^1.15.0
  crypto: ^3.0.0
  equatable: ^2.0.5
  ffi: ^2.0.0
  hive: ^2.2.3
  html: ^0.15.0
  html_unescape: ^2.0.0
  http: ">=0.13.0 <2.0.0"
  image: ^4.0.15
  js: ^0.6.3
  markdown: ^7.1.1
  json_annotation: ^4.7.0
  json_serializable: ^6.5.4
  matrix_api_lite:
    git:
      url: https://github.com/linagora/dart_matrix_api_lite.git
      ref: main
  mime: ^1.0.0
  olm: ^2.0.2
  random_string: ^2.3.1
  sdp_transform: ^0.3.2
  slugify: ^2.0.0
  typed_data: ^1.3.2
  webrtc_interface: ^1.0.13

dev_dependencies:
  coverage: ">=0.15.0 <2.0.0"
  file: ">=6.1.1 <8.0.0"
  import_sorter: ^4.6.0
  lints: ^3.0.0
  test: ^1.15.7
  #flutter_test: {sdk: flutter}
#dependency_overrides:
#  matrix_api_lite:
#    path: ../matrix_api_lite
