name: matrix
description: Matrix Dart SDK
version: 0.16.0
homepage: https://famedly.com
repository: https://gitlab.com/famedly/company/frontend/famedlysdk.git

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  async: ^2.8.0
  base58check: ^2.0.0
  blurhash_dart: ^1.1.0
  canonical_json: ^1.1.0
  collection: ^1.15.0
  crypto: ^3.0.0
  ffi: ^2.0.0
  hive: ^2.2.3
  html: ^0.15.0
  html_unescape: ^2.0.0
  http: ^0.13.0
  image: ^3.1.1
  js: ^0.6.3
  markdown: ^4.0.0
  matrix_api_lite: ^1.1.8
  mime: ^1.0.0
  olm: ^2.0.2
  random_string: ^2.3.1
  sdp_transform: ^0.3.2
  slugify: ^2.0.0
  webrtc_interface: ^1.0.10

dev_dependencies:
  coverage: ">=0.15.0 <2.0.0"
  dart_code_metrics: ^4.10.1
  file: ^6.1.1
  import_sorter: ^4.6.0
  lints: ^2.0.0
  test: ^1.15.7
  #flutter_test: {sdk: flutter}
