name: matrix
description: Matrix Dart SDK
version: 0.7.3
homepage: https://famedly.com

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  blurhash_dart: ^1.1.0
  http: ^0.13.0
  mime: ^1.0.0
  canonical_json: ^1.1.0
  markdown: ^4.0.0
  html_unescape: ^2.0.0
  random_string: ^2.3.1
  crypto: ^3.0.0
  base58check: ^2.0.0
  olm: ^2.0.0
  matrix_api_lite: ^0.5.1
  hive: ^2.0.4
  image: ^3.1.1
  ffi: ^1.0.0
  js: ^0.6.3
  slugify: ^2.0.0
  html: ^0.15.0
  collection: ^1.15.0
  webrtc_interface: ^1.0.1
  sdp_transform: ^0.3.2
  fluffybox: ^0.4.2

dev_dependencies:
  dart_code_metrics: ^4.4.0
  pedantic: ^1.11.0
  test: ^1.15.7
  coverage: ">=0.15.0 <2.0.0"
  file: ^6.1.1
  #flutter_test: {sdk: flutter}
