name: Publish to pub.dev

on:
  workflow_call:

# Publish using the reusable workflow from dart-lang.
jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    uses: famedly/frontend-ci-templates/.github/workflows/publish-pub.yml@main
    with:
      env_file: ".github/workflows/versions.env"

  create_gh_release:
    env:
      GH_TOKEN: ${{ github.token }}
    needs: [publish]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Create release
        run: |
          TAG_NAME=${{ github.ref_name }}
          version=$(echo $TAG_NAME | sed 's/^v//')
          releaseRegex="^v[0-9]+\.[0-9]+\.[0-9]+$"
          releaseCandidateRegex="^v[0-9]+\.[0-9]+\.[0-9]+rc[0-9]+$"
          notes=$(./scripts/extract_changelog.sh $version)
          if [ -n "$notes" ]; then
            if [[ $TAG_NAME =~ $releaseRegex ]]; then
              gh release create $TAG_NAME --notes "$notes" -t $TAG_NAME --verify-tag
            elif [[ $TAG_NAME =~ $releaseCandidateRegex ]]; then
              gh release create $TAG_NAME --notes "$notes" --prerelease -t $TAG_NAME --verify-tag
            fi
          else
            if [[ $TAG_NAME =~ $releaseRegex ]]; then
              gh release create $TAG_NAME --generate-notes -t $TAG_NAME --verify-tag
            elif [[ $TAG_NAME =~ $releaseCandidateRegex ]]; then
              gh release create $TAG_NAME --generate-notes --prerelease -t $TAG_NAME --verify-tag
            fi
          fi
